* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
  color: #fff;
}

.img-zoom-lens {
  position: absolute;
  border: 2px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
}

.img-location-pointer {
  position: absolute;
  border: 1px solid #f00;
}