<div class="text-center my-3">
  <h1 class="display-4">Three Queen's Avenue</h1>
  <h2>The Game</h2>
  <h4>Enter your name and click the front door</h4>
  <input type="text" placeholder="What's your name?" [(ngModel)]="username" /><p></p>
</div>
<app-pan-image-viewer [img]="img" [imgHeight]="400" [bgPosX]="-136" (locationClickEvent)="onLocationClicked($event)"></app-pan-image-viewer>
<!-- <app-pan-image-viewer [img]="img" [imgHeight]="400" [bgPosX]="-536" (locationClickEvent)="onLocationClicked($event)"></app-pan-image-viewer> -->